@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
:root {
    --color: rgb(63 63 63);
    --title-col: rgb(255, 224, 224);
  }
  
  body {
    margin: 0;
    font-family: 'Lobster', cursive;
  
  }
  
  .parallax-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    /*  this is where the magic happens:  */
    background-attachment: fixed;
  
    background-image: url(../assets/travelblog.jpg);
    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;
  
    text-align: center;
  }
  
  .buffer {
    width: 100%;
    min-height: 2vh;
    background-color: #5d5d53 !important;
  }
  
  .parallax-container2 {
    flex-direction: row;
    flex-wrap: wrap;
  
    padding: 6rem 0;
    background-image: url(../assets/back3.png);
    gap: 1.6em;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Lobster', cursive;
  }
  
  p {
    max-width: 55ch;
    padding: 1em;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 800;
    font-family: 'Zeyada', cursive;
  }
  
  a {
    display: inline-block;
    padding: 1em 3.5em;
    border-radius: 0.3em;
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none !important;
    text-transform: uppercase;
  }
  
  h3 {
    margin-top: 1em;
    font-size: 1.6rem;
    font-weight: 700;
  }

  .width-card{
     max-width: 320px;
     align-items: center;
  }
  
  .card {
    display: flex;
    /* max-width: 330px; */
    flex-direction: column;
    /* align-items: center; */
  
    padding-bottom: 1rem;
    border-radius: 0.5em;
  
    background-color: white;
    box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
  }
  
  .card-img {
    width: 100%;
    height: 200px;
    border-radius: 0.3em;
    background-position: center;
    background-size: cover;
  }
  
  .card:nth-of-type(1) .card-img {
    background-image: url(../assets/foodblog.jpg);
  }
  
  .card:nth-of-type(2) .card-img {
    background-image: url(../assets/travelblog.jpg);
  }
  
  .card:nth-of-type(3) .card-img {
    background-image: url(../assets/businessblog.jpg);
  }
  
  @media(max-width:600px){
    a {
      display: inline-block;
      padding: 0;
    }
  }
  @media(max-width:300px){
    .navbar-brand {
      font-size: 1rem !important;
    }
  }

 .card button{
  width: 150px;
  background: rgb(63 63 63);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  }
  
 